.container {
    display: flex;
}
.Nominations {
    overflow-y: auto;
    height: 60vh
}
.info {
    font-weight: 300;
    margin-top: 5%;
}

.title {
    font-weight: 700;
}

.RemoveButton {
    display: flex;
    flex-direction: column-reverse;
}

.spacingButton{
    flex-grow: 1;
}

.nominatingCard {
    margin: 1% 1% 1% 1%;
    box-shadow: 0 0px 8px 0 rgba(122, 122, 122, 0.2), 0 0px 4px 0 rgba(48, 47, 47, 0.19);
}

.nominatingCard:hover {
    transition: 0.3s;
    transform: translate3D(0,-1px,0) scale(1.015);
}